.LiveRank {
  padding: 10px;
  .inner {
    position: relative;
    max-width: 1500px;
    height: 430px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #d5d8de;
    box-sizing: border-box;
    .SubTitle {
      margin-bottom: 20px;
      span {
        font-size: 1.2rem;
      }
    }
    .LiveRankWrap {
      display: flex;
      justify-content: space-between;
      .List {
        width: 100%;
        li {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 10px 0;
          line-height: 1;
          border-top: 1px solid #e5e5e5;
          font-size: 1.1rem;
          color: #181818;
          cursor: pointer;
          &:first-child {
            border-top: 0;
          }
          &:hover {
            .Name {
              font-weight: 700;
              color: #009944;
            }
          }
          .Title {
            max-width: 70%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          .Minus {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin: 0 5px 0 10px;
            background: url(/search_movie/img/ico_minus.png) no-repeat;
          }
          .Down {
            display: inline-block;
            width: 12px;
            height: 12px;
            padding-left: 15px;
            margin: 0 5px 0 10px;
            background: url(/search_movie/img/ico_dw.png) no-repeat;
            font-size: 0.9rem;
            font-weight: 700;
            color: #6d6d6d;
          }
          .Up {
            display: inline-block;
            width: 12px;
            height: 12px;
            padding-left: 15px;
            margin: 0 5px 0 10px;
            background: url(/search_movie/img/ico_up.png) no-repeat;
            font-size: 0.9rem;
            font-weight: 700;
            color: #d40083;
          }
          .New {
            display: inline-block;
            width: 24px;
            height: 12px;
            margin: 0 5px 0 10px;
            background: url(/search_movie/img/ico_new.png) no-repeat center;
          }
          .Count {
            margin-left: auto;
            font-size: 1rem;
            color: #999
          }
          .Name {
            margin-left: 5px;
          }
        }
      }
    }
    .Loading {
      position: absolute;
    }
  }
}