.LiveRank {
  padding: 10px;
  .inner {
    padding: 20px;
    border: 1px solid #d5d8de;
    .SubTitle {
      margin-bottom: 20px;
    }
    .LiveRankWrap {
      display: flex;
      justify-content: space-between;
      .List {
        width: 100%;
        li {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 10px 0;
          line-height: 1;
          border-top: 1px solid #e5e5e5;
          font-size: 1.1rem;
          color: #181818;
          &:first-child {
            border-top: 0;
          }
          &:hover {
            .Name {
              font-weight: 700;
              color: #009944;
            }
          }
          .Title {
            max-width: 70%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          .Type {
            margin: 0 5px 0 10px;
            font-size: 0.8rem;
            font-weight: 700;
            color: #e7241d;
          }
          .Count {
            margin-left: auto;
            font-size: 1rem;
            color: #999
          }
          .Name {
            margin-left: 5px;
          }
        }
      }
      .Loading {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding-left: 5%;
        width: 155px;
        height: 213px;
      }
    }
  }
}