@import './mixin';

.Slider {
  padding: 30px 0;
  .SliderWrap {
    max-width: 1500px;
    margin: 0 auto;
  }
  .slick-slide {
    text-align: center;
    cursor: pointer;
    img {
      display: inline-block;
    }
  }
  .slick-dots {
    position: inherit;
  }
  .slick-prev {
    background-image: url('/movie_site/img/arrow_left.png');
    &::before {
      display: none;
    }
  }
  .slick-next {
    background-image: url('/movie_site/img/arrow_right.png');
    &::before {
      display: none;
    }
  }
  .slick-prev, .slick-next {
    background-color: rgba(0,0,0,.7);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    z-index: 1;
  }
  .SliderItem {
    margin: 0 auto;
    padding-top: 10px;
    dt {
      font-size: 1.2rem;
      color: #000;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    dd {
      font-size: 1.1rem;
      color: #8d8d8d;
    }
  }
}

@include desktop {
  .Slider {
    .slick-slide {
      img {
        width: 285px;
        height: 388px;
      }
    }
    .slick-prev {
      left: 6%;
    }
    .slick-next {
      right: 6%;
    }
    .slick-prev, .slick-next {
      margin-top: -37px;
      width: 75px;
      height: 75px;
      background-size: 24px;
    }
    .SliderItem {
      width: 164px;
    }
  }
}

@include tablet {
  .Slider {
    .slick-slide {
      img {
        width: 164px;
        height: 223px;
      }
    }
    .slick-prev {
      left: 2.5%;
    }
    .slick-next {
      right: 2.5%;
    }
    .slick-prev, .slick-next {
      margin-top: -24px;
      width: 40px;
      height: 40px;
      background-size: 12px;
    }
    .SliderItem {
      width: 164px;
    }
  }
}

@include mobile {
  .Slider {
    .slick-slide {
      img {
        width: 140px;
        height: 190px;
      }
    }
    .slick-prev {
      left: 5%;
    }
    .slick-next {
      right: 5%;
    }
    .slick-prev, .slick-next {
      margin-top: -24px;
      width: 40px;
      height: 40px;
      background-size: 12px;
    }
    .SliderItem {
      width: 140px;
    }
  }
}